body {
    font-family: 'Vazir', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.intro {
    text-align: center;
    padding: 20px;
}

.intro img {
    width: 150px;
}

.courses {
    padding: 20px;
    background-color: #f9f9f9;
}

.courses h2 {
    text-align: center;
    color: #333;
}

.course {
    background-color: #e7f3e7;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
}

.contact {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

