body {
    font-family: 'Vazir', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    color: #FF5722; /* رنگ نارنجی جذاب */
}

header {
    background: #FFEB3B; /* رنگ زرد شاد */
    padding: 20px;
    text-align: center;
}

button {
    background-color: #FF5722; /* رنگ نارنجی برای دکمه‌ها */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #E64A19; /* رنگ تیره‌تر در حالت hover */
}
