body {
    background-color: #f0f8ff; /* پس‌زمینه روشن */
    font-family: 'Vazirmatn', sans-serif;
}

header {
    background-color: #4CAF50; /* رنگ سبز تیره برای هدر */
    color: white;
}

h2, h3 {
    color: #ff6347; /* رنگ قرمز گوجه‌ای برای عنوان‌ها */
}

.btn {
    background-color: #008CBA; /* رنگ آبی برای دکمه‌ها */
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px; /* لبه‌های گرد */
    transition: background-color 0.3s ease; /* انیمیشن نرم */
}

.btn:hover {
    background-color: #005f6b; /* تغییر رنگ دکمه هنگام هاور */
}

.course {
    background-color: #ffe4e1; /* رنگ پس‌زمینه ملایم برای هر دوره */
    border: 2px solid #ff69b4; /* مرز صورتی */
    padding: 15px;
    border-radius: 10px; /* لبه‌های گرد */
}
